name: Build, Scan & Push Docker Image

on:
  push:
    paths:
      - 'app/**'          
  pull_request:
    paths:
      - 'app/**'

env:
  AWS_REGION: ${{ secrets.REGION }}
  ECR_REPOSITORY: umami
  IMAGE_TAG: latest 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.REGION }}

      - name: Build Docker image
        run: docker buildx build --platform linux/amd64 -t $ECR_REPOSITORY:$IMAGE_TAG -f app/Dockerfile app/

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          format: table
          severity: CRITICAL
          exit-code: 1
          ignore-unfixed: true

      - name: Login to Amazon ECR
        run: |
            aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin 471112781681.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Tag and push Docker image to ECR.
        run: |
              docker tag $ECR_REPOSITORY:$IMAGE_TAG \
              471112781681.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

              docker push 471112781681.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG